<footer class="Footer" role="contentinfo">
    <div class="container">

        <div class="Footer__menu Footer__menu--contacts">
            <p class="Footer__menu__heading">Contacts</p>
            <ul class="Footer__menu__list list--clean">
                <li class="Footer__menu--contacts-phone"><a href="#">Ville Sally, USA</a></li>
                <li class="Footer_menu--contact-phone"><a href="#">+101 808-164-0705</a></li>
                <li class="Footer__menu--contacts-chat">
                    <style>
                        i {
                            padding: 5px 10px;
                        }
                    </style>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </li>
            </ul>
        </div>

        <div class="Footer__menu Footer__menu--terms">
            <p class="Footer__menu__heading">Terms and Our Benefits</p>
            <ul class="Footer__menu__list list--clean">
                <li><a href="" rel="nofollow">Privacy policy</a></li>
                <li><a href="" rel="nofollow">Progressive Delivery</a></li>
                <li><a href="" rel="nofollow">Terms and conditions</a></li>
                <li><a href="" rel="nofollow">Cookie policy</a></li>
                <li><a href="" rel="nofollow">Plagiarism-free guarantee</a></li>
                <li><a href="" rel="nofollow">Money back guarantee</a></li>
                <li><a href="" rel="nofollow">Revision policy</a></li>
                <li><a href="" rel="nofollow">Notice on social responsibility</a></li>
            </ul>
        </div>

        <div class="Footer__menu Footer__menu--accept">
            <p class="Footer__menu__heading Footer__menu__heading-accept">Payment Methods</p>
            <div class="Footer__menu__payments">
                <img src="https://www.transparentpng.com/thumb/credit-card/zQPbOg-visa-mastercard-american-express-discover-credit-card-picture.png"
                    alt="visa, mastercard, american express, discover credit card picture @transparentpng.com"
                    width="229">
                <!-- <img src="" width="229" height="35" alt="" loading="lazy"> -->
            </div>
        </div>
        <div class="Footer__separator"></div>
    </div>
</footer>